name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js 14
        uses: actions/setup-node@v6
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm ci
      - name: Run build
        run: npm run build
